<%- include("./partials/header.ejs") %>
	
	<div class="d-flex justify-content-center">	
		<h1 class="main-h1">Welcome to the Favorite Video Games Site!</h1>
	</div>

	<div class="d-flex justify-content-center">	
		<a href="/videogames" class="home-link btn btn-success main-btn">View Accounts</a>
	</div>

	<div class="d-flex justify-content-center homeDiv3">
		<a href="/login" class="home-btn2 btn btn-info">Login</a>
		<a href="/register" class="home-btn2 btn btn-info">Register</a>
	</div>


	<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
	</ul>


		
		

<%- include("./partials/footer.ejs") %>
