<%- include("../partials/header.ejs") %>

<div class="container partialsDivContainer">
	<div class="jumbotron">
		<div class="d-flex justify-content-center">
			<h1 class="videogames-new-h1">
				Post New Videogames of the Year
			</h1>
		</div>
	</div>
</div>

<form action="/videogames/<%=user._id%>" method="POST">
	<div class="form-group">
		<div class="d-flex justify-content-center"><input class="videogames-new form-control" placeholder="First Place Videogame" name="videogames[firstPlace]" required></div>
		<div class="d-flex justify-content-center"><input class="videogames-new form-control" placeholder="Second Place Videogame" name="videogames[secondPlace]"></div>
		<div class="d-flex justify-content-center"><input class="videogames-new form-control" placeholder="Third Place Videogame" name="videogames[thirdPlace]"></div>
		<div class="d-flex justify-content-center"><input class="videogames-new form-control" placeholder="First Place Videogame Image" name="videogames[image]"></div>
		<div class="d-flex justify-content-center"><input class="videogames-new form-control" placeholder="Year of Vote" name="videogames[year]" required></div>
		<div class="d-flex justify-content-center"><button class="videogames-new-btn btn btn-success" type="submit">Submit</button></div>
	</div>
</form>


<%- include("../partials/footer.ejs") %>